[submodule "CEPHEI_SolarPanels"]
	path = CEPHEI_SolarPanels
	url = https://github.com/andreamper220/CEPHEI_SolarPanels.git
	branch = master
[submodule "CEPHEI_LocalDriver"]
	path = CEPHEI_LocalDriver
	url = https://github.com/Mrsanyor/CEPHEI_LocalDriver
	branch = master
[submodule "CEPHEI_WebLab"]
	path = CEPHEI_WebLab
	url = https://github.com/Ice-Gi/CEPHEI_WebLab
	branch = master
